/* box-sizing */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}



body {
    background-color: darkolivegreen;
    margin: 0;
    min-height: 100vh;
    padding-top: 20px;
}





/* body=hela sidan, alltså bakground */




/* HEADER */

header {
    background-color: black;
    width: 100%;
    height: 115px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    position: fixed;
    display: block;
    z-index: 1;

}

#idh {
    display: flex;
    color: white; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.wrapper {
    width: 100%;
    margin: 0;
}

/* MENY-LÄNK */
nav {

    background-color:  black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
    margin-top: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px;
    
}

nav a:hover {
    background-color: grey;
}


/* bakgrund */



.omMig {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 104px;

}

.info {
    background-color: grey;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    min-height: 100vh;
}

p {
    display: flex;
    justify-content: flex-start;
}

.ruta img {
    display: flex;
    background-color: hotpink;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-self: center;
}


/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .info {
        width: 90%;
    }
